[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.rst]
indent_size = 2


[Makefile]
indent_style = tab


[{*.bash,*.sh}]
# Indenting with spaces makes it possible to copy-paste commands
# to an interactive shell without triggering tab completion.
# On the other hand, here-docs can only be indented only with hard tabs.
# But all whitespace looks identical to a regular space on GitHub.
# So I've come to prefer other quoting constructs for multi-line strings,
# and ask that you do the same.
indent_size = 2
indent_style = space
# The following options are interpreted by shfmt.
shell_variant = bash
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = false
