ansible==7.3.0
ansible-core==2.14.3
boto3==1.26.84
botocore==1.29.84
cffi==1.15.1
cryptography==39.0.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
packaging==23.0
petname==2.6
pycparser==2.21
python-dateutil==2.8.2
PyYAML==6.0
resolvelib==0.8.1
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.14
